// 搜索栏表单项宽度
.queryForm {
  .el-input {
    width: 180px;
  }
  .el-select {
    width: 180px;
  }
  .el-date-editor {
    width: 300px;
  }
}

.el-table {
  .el-table__header-wrapper, .el-table__fixed-header-wrapper {
    th {
      background-color: #e5e5e8 !important;
      color: rgb(69, 70, 70);
    }
    
  }
}
// 表格操作按钮间隔
.el-table {
  .el-button.is-link + .el-button.is-link {
    margin-left: 0;
  }
}
